{% from "macros/fields.tmpl" import render_input_field, render_submit %}
{% extends "shared/layout.tmpl" %}

{% block title %}Add task.{% endblock %}

{% block content %}
  <h3>Změnit jméno</h3>
  <div class="form-group">Zadání jména a příjmení</div>
  <form method="POST" id='insert-form'>
    {{ form.hidden_tag() }}
    {{ render_input_field(form.TaskName) }}
    {{ render_input_field(form.Description) }}
    {{ render_submit() }}
  </form>
<div class="form-group" style="margin-top: 10px;"><a type="button" class="btn btn-info" href='{{url_for("public.WriteTaskLog")}}'>BACK</a></div>

{% endblock %}
